.node {
  margin: 0.5px;
  float: left;
  width: 20px;
  height: 20px;
  outline: 1px solid gray;
}
.grid {
  padding: 10px;
  width: 1070px;
  max-width: 1070px;
  display: inline-block;
  border: 1px solid black;
}
.Buttons {
  padding: 10px;
}
.Reset {
  float: left;
  padding: 1px;
}
.VisualizeDikstraButton {
  float: left;
  padding: 1px;
}
